* {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.flag {
  height: 48px;
  width: 48px;
  object-fit: contain;
}
.cntr {
  height: 100vh;
  overflow-y: auto;
}
thead {
  background-color: aliceblue;
  position: sticky;
  top: 0;
  z-index: 10;
}
tr {
  text-align: center;
}
.refresh-btn {
  background-color: blue;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 16px;
  padding: 4px 16px;
  position: absolute;
  bottom: 40px;
  right: 100px;
}
.footer {
  height: 100px;
}
